name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: nix fmt
        run: nix develop --print-build-logs -v --command pre-commit run --all-files
        continue-on-error: true
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
